In [1]:
#import the necessary libraries
import pandas as pd
import requests as re

In [2]:
#set the url from NSE Website
#Only update the cookies on a daily basis before the Market open
url='https://www.nseindia.com/api/equity-stockIndices?index=NIFTY%20100'

header={
    'Accept':'*/*',
    'Accept-Encoding':'gzip, deflate, br, zstd',
    'Accept-Language':'en-US,en;q=0.9',
    'Cookie':'_ga=GA1.1.1111642901.1717133648; nsit=N2scJE8TdNGj-sUmTyPYB5UW; AKA_A2=A; _abck=56D7533A59DE3D05868A3CAA3405F230~0~YAAQ7elUuBkjxdyPAQAAjOEK7gzM6o2wjQdQkIWRzTt9DYSY/MW00XJ/Ypybra+Q5cncsRRJOmYr9xWrxyLknldoTpM4UvzWZAg1tpLv7mWCF9vXCvr7SmMLsk+MUqlgdDzM3BXIZGin4SDpATNrEgvOoW8RHivOAWtengAgqv1p3+ImAUXSPyuetY5haTx7IDu37qE4cxuxAheSA3TqNpu7BanzdFrrFIg+sdGbpejHJwj3OjxqsCe5QF5NGhkS2odaLdNuenu5I+1eE/e8nGFQ652+NpXVabb5bF4DwtSdjsw/6tCap+7JLPnPw5AYWwq25tiFzGUyo0wGlQ4KUOBS8uR8m9zY+LH9QeMRjKejtwnVjuTergL5kcdYhnr5/KDQPKCp7sxZfhpLycV8ENJbGHbMhi8X2PQ=~-1~-1~-1; defaultLang=en; ak_bmsc=21946BDF74F6A85533790AA78A02CDE1~000000000000000000000000000000~YAAQ7elUuGIjxdyPAQAAieUK7hiIdj6QCdvwDh978nRDks8aVDIzC7QL9K+hIByKR5G1PL0Ep0k++QE5tO5XUVyX0VeC8xSaskZJK3deHvJXcdSqwb0RqBR/YbwEoAutAEg7sVNus35VsHX+SWEdFnWVEkQUaBBgyM1MgEbh93bjwC49o7Keua07K3tuD8IV2c/h+xrYn6uINBsyTkFvn7hmDwqgdtCStPBLstI5PvqBT4LW0/xXrTIDWeseu8N8pKSbTa/4oEEepzq7nkhBxggOPSOtnGTYR0nID49tX3+xqN4727qC9F79PiJlyJamuw3e8byXzdqRKpQ7TkW6TpJiPJa5Qr1TZR0k9kYXOEiUznIulCiAiU6C+SbRLWSAnjyVmHEsIFKxleeNfNDQ+gdmScJm8UynfQF7kMp0n75DxYodjiJ0tYdmXRsw4yexXeaZVl6iadP1ZiQfEfI=; nseappid=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhcGkubnNlIiwiYXVkIjoiYXBpLm5zZSIsImlhdCI6MTcxNzY4NTY2MSwiZXhwIjoxNzE3NjkyODYxfQ.GAx4XIPW4lUGcoTdbWvJUujfDznT8zKLVuPBC2vsxyk; bm_sz=A80D2CDDDE711323D6B6E196482ED97C~YAAQ7elUuBooxdyPAQAAjS8L7hg2bTxAIetjmp9QSKxDCe0RfyCh5d0V10a1vcECcpGBVU8yeQngb1PfOCMK/fgGnqYlweYFaWidb+KcB87GIcTiGJdaCGKkQEihdzzIT6lVX+SZLcg0c8VFIhAeYdI3p8pveQSz9NL1wahZRW4HnHlqp4R9DhdPR797q87pLzg2N8ITPMTznAjBuNZ7HckYbWdN30VwY7iQ7DgA6fb55ZDcYEXmnJUI6LzpP91H4fwjeGk/dZ1xCpnRtqJ5e4l4cI/Viowh8PERtDv68wBGO/GMv4aJgw6PH51LLEmdFyfntw82J9iHPcSE5iGRjZ5TMsfvtuTTL6s3x6kGATmwLPlkldDyXZCswMRRGOzd3NlOStAAcuYsGbWKKNgroTGkE2cUo5ap7dSM2Q==~4343346~3491384; RT="z=1&dm=nseindia.com&si=5e4e9939-75ef-4ffd-915a-3ec3a6999065&ss=lx3dojkw&sl=2&se=8c&tt=1j1&bcn=%2F%2F684d0d42.akstat.io%2F"; _ga_87M7PJ3R97=GS1.1.1717685642.5.1.1717685662.0.0.0; bm_sv=B60F3E2A1353043A64D77C1F0BF30AC6~YAAQ7elUuCwoxdyPAQAAcTIL7hjeqWsFSaU4hiiLHKrCZIaiQRVArkOnukarH98qd4Z3Yrx4PFw3CMK82WrZ3av+CwPK+Lvr/rmHkihTC7LMroTdOT8s88GBr9S/XaQGiYXeFpnY8xECob60LRiKRrzSNYfl5I/zR5sa94nV+C6zuOcUfiGKYC5nJVl9UnJjmgF4mXlAc7x5/rO2uLepoW2BsvzyDK9D+q4OCJYtpYBIraaPb3CXuYSPWryRkPOAG4jc~1', 
    'Referer':'https://www.nseindia.com/market-data/live-equity-market?symbol=NIFTY%20100',
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36'
}

In [3]:
#read the response from the libraries
response = re.get(url=url,headers=header)
data=response.json()

In [4]:
#Check for the Fecting value for the Specific data to get
print("symbol,lastPrice,totalTradedVolume,lastUpdateTime,yearHigh,yearLow,companyName")
for i in range(2):
    print(i,data['data'][i]['symbol'])

symbol,lastPrice,totalTradedVolume,lastUpdateTime,yearHigh,yearLow,companyName
0 NIFTY 100
1 HAL

In [5]:
#Create a empty list and append the data which is required in the DB or CSV file
lst_data=[]
for i in range(100):
    dat=(data['data'][i]['symbol'],data['data'][i]['lastPrice'],data['data'][i]['totalTradedVolume'],data['data'][i]['lastUpdateTime'],data['data'][i]['yearHigh'],data['data'][i]['yearLow'])
    lst_data.append(dat)

In [7]:
#create a data frame from the data retrived from the Site
df=pd.DataFrame(lst_data)

# Create a columns before sending the data to the CSV file
custom_columns=['symbol','lastPrice','totalTradedVolume','lastUpdateTime','yearHigh','yearLow']

#provide the specific path for the File location to save the data a specific refresh
file_path=r'C:\Users\Ramachandra M\Documents\Capstone project-4\Scrap-Live-Data\Live_data.csv'

#save the file and remove the indexes and add the custom columns created for the data
df.to_csv(file_path,index=False,header=custom_columns)

In [8]:
#print the data to check which kind of data is being sent to DB/CSV file
df.head()

           0         1           2                     3        4         5
0  NIFTY 100  23806.95  1161677763  06-Jun-2024 16:00:00  24445.2  18493.10
1        HAL   4669.00     9128985  06-Jun-2024 15:59:59   5444.0   1644.50
2       GAIL    208.30    41316996  06-Jun-2024 15:59:57    233.2    103.30
3     RECLTD    490.00    54149649  06-Jun-2024 15:59:57    607.8    142.90
4      IRCTC    975.00     5451521  06-Jun-2024 15:59:30   1138.9    614.35