In [1]:
#import the necessary libraries
import pandas as pd
import requests as re

In [2]:
#set the url from NSE Website
#Only update the cookies on a daily basis before the Market open
url='https://www.nseindia.com/api/equity-stockIndices?index=NIFTY%20100'

header={
    'Accept':'*/*',
    'Accept-Encoding':'gzip, deflate, br, zstd',
    'Accept-Language':'en-US,en;q=0.9',
    'Cookie':'_ga=GA1.1.1111642901.1717133648; nsit=XFhueZOzkFFPIKgD8LUnOE-l; AKA_A2=A; _abck=56D7533A59DE3D05868A3CAA3405F230~0~YAAQTogsMYbi/rmPAQAAB2Ke8QxRg8oGP1yTO0cSCI4bzCXBl6WLuz7PcjsAhxQK/j/VcDiPB9iONcm+kn+C1NjFanvW5a1qI+VkmMf4ej53qPE1t/X8cDJx0M48lrElVLZo817c+/LUHIPNUJXwQJnDqJ1mc6Uemr7ZFpvtEBubkx3LbTI6yA4cqdbO+9W0W39/H4rBWBsmuYKmpYs47J3YnZ+GvtrXCGpODU7InS0YN9kOJDzwbZIeDrch1RlQv+q45hIG4PciwaV2doHumuG4mmdzqvRU21GT3EUX+QHkullFxTHkp1R/J9531N3v3WXBUaFEfXc+jsjfMcJikWAbhbjn8N1GmT2A/M3X848F6IrlUrml5lGCUrdRYtyNPCfj8ReVMuIjvz7Vvzv5pLmlYx7M/94rD/A=~-1~-1~-1; defaultLang=en; ak_bmsc=408FA1BD11A242782A5A5C93DD95D89E~000000000000000000000000000000~YAAQTogsMZ3i/rmPAQAAQWee8Rg2g4E8lTjqbky2ppeBZFRoLRZrEpQ4RqNzq49bP5u/vWMM2OpRHb2kl8cgIiNg0YO6UNiidu16Z5VON69SprOI9c+a5m0EomFf09kJDxMj2gMSq0eMBLWVwwJ+9/hWqXzwBhroonIWr9rK0JpoY0EbRMVFL3QgF6e4I/Ta6pHFLCQdFkF9A/ynjhHePV3Ikc0PbCSwqdx8JF1PYWeIkozCoKT9rcX6Wowge5Iar5n4y/WISOwruUma5d0X6N1ofPH0s6BcBufb//RBZFdzYPslfwkMelBEWz2bil80gi21LlO2cYRDVjeUfHmCNgr9hFpe0e20DyjFhcxTsbS2Nim3CfAr9OV56bHepBLJ9O3FRXRiCCCnOW9b9FXcihULFxLCGue0O4KBBmiBLGKXeyK1ycB/caTOqsS3OaGEcgnfDITk9Wg7V9DwGW4=; nseappid=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhcGkubnNlIiwiYXVkIjoiYXBpLm5zZSIsImlhdCI6MTcxNzc0NTY1MiwiZXhwIjoxNzE3NzUyODUyfQ.BEtvMBe1JSHPMShYbzSK0CI6SQ9eDB7Y8DSjSAiDUEg; bm_sz=1EAAA8F4B8A4847C482A7A14F1A8A3F0~YAAQTogsMQDj/rmPAQAA/ZOe8RjY8BngLTjzSVyHh5inW4OREtAhQc2o1IKItD6FpARvronrzSK+/DArJ8YjBeit2DbzyGyS1OMTxiXYUaYW3PLbiJUVkFICCm4LhB66W62qEzN2tbIhN/D7f3dcbeFLNyEjTeZ91tGc9LUjX8mhVmIfingJTSC85P15E2j/2Lb8B/JyjA0EOjNQCbxi3qYyaiq1JQDucai1wx8otQ1WUWSjGYcNrTpTnEDzyMSDwEX1eVX1BVWY3KBCZr0RTpKbZsAVkOyTJihwdXy+mXrcOxUK0oLmp33neUsLqW7KOIMGpEK8F6efn4PJ1HjwS64fYADETkMIB0EIbolJNpJH3ATGqG7l2B6PMklKjA2XFqS5QMTpj6vIfW+3ErxqJfombK1uWHs=~4470594~4405555; RT="z=1&dm=nseindia.com&si=5e4e9939-75ef-4ffd-915a-3ec3a6999065&ss=lx4deiyr&sl=2&se=8c&tt=3n1&bcn=%2F%2F684d0d46.akstat.io%2F"; _ga_87M7PJ3R97=GS1.1.1717745641.7.1.1717745654.0.0.0; bm_sv=61D8BF372E9BF82C7329F2CCDA54C098~YAAQTogsMQHj/rmPAQAAUZee8Rj9FW+qQAPGSTVPgteVIxxQkL9tnLYqbx6roFt2W68dLT3Gt9mpAObV3HOZB9iuKro1eFuWS3rebUV6vkC/z9yuxujCjp4MIUAAbjLOUZSdl17zusqe0jrh1b7gQJupcla1iimbf6IUkJjNlVhVtdB0fBnyTucSwoolADKWU1oelFIoj7FZPzWdWLnE5fT0Sc0x8FdKCnxdo8LWrzhY6W86aJJ9gwaWV/9ta3FcqLY=~1',
    'Referer':'https://www.nseindia.com/market-data/live-equity-market?symbol=NIFTY%20100',
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36'
}

In [3]:
#read the response from the libraries
response = re.get(url=url,headers=header)
data=response.json()

In [4]:
#Create a empty list and append the data which is required in the DB or CSV file
lst_data=[]
for i in range(100):
    dat=(data['data'][i]['symbol'],data['data'][i]['lastPrice'],data['data'][i]['totalTradedVolume'],data['data'][i]['lastUpdateTime'],data['data'][i]['yearHigh'],data['data'][i]['yearLow'])
    lst_data.append(dat)

In [5]:
#create a data frame from the data retrived from the Site
df=pd.DataFrame(lst_data)

# Create a columns before sending the data to the CSV file
custom_columns=['symbol','lastPrice','totalTradedVolume','lastUpdateTime','yearHigh','yearLow']

#provide the specific path for the File location to save the data a specific refresh
file_path=r'C:\Users\Ramachandra M\Documents\Capstone project-4\Scrap-Live-Data\auotupdate_nse.csv'

#save the file and remove the indexes and add the custom columns created for the data
df.to_csv(file_path,index=False,header=custom_columns)

In [6]:
df.head()

            0         1          2                     3         4         5
0   NIFTY 100  24157.35  597160358  07-Jun-2024 13:20:59  24445.20  18493.10
1       WIPRO    482.55   29531740  07-Jun-2024 13:21:29    545.90    375.05
2        INFY   1534.15   15969686  07-Jun-2024 13:21:29   1733.00   1262.25
3  BAJFINANCE   7202.90    2004476  07-Jun-2024 13:21:29   8192.00   6187.80
4   TATASTEEL    178.30   52190175  07-Jun-2024 13:21:29    179.35    108.10

In [7]:
import time
from datetime import datetime, timedelta
from pytz import timezone

In [10]:
ist = timezone('Asia/Kolkata')
print(ist)
#get the current time in IST
now = datetime.now(ist)

#initilize the minute
cur_min = now.minute

while True:
    #get the current Time
    now = datetime.now()

    #check if a new min has started
    if now.minute != cur_min:
        #update the current time
        cur_min = now.minute
        #read the response from the libraries
        response = re.get(url=url,headers=header)
        data=response.json()
        #Create a empty list and append the data which is required in the DB or CSV file
        lst_data=[]
        for i in range(100):
            dat=(data['data'][i]['symbol'],data['data'][i]['lastPrice'],data['data'][i]['totalTradedVolume'],data['data'][i]['lastUpdateTime'],data['data'][i]['yearHigh'],data['data'][i]['yearLow'])
            lst_data.append(dat)

        #create a data frame
        df=pd.DataFrame(lst_data)

        # Create a columns before sending the data to the CSV file
        custom_columns=['symbol','lastPrice','totalTradedVolume','lastUpdateTime','yearHigh','yearLow']

        print(df.tail())    

    time.sleep(0.1)

             0        1         2                     3        4       5
95  JINDALSTEL  1025.45   1363513  07-Jun-2024 13:33:30  1085.95  520.50
96      RECLTD   487.85  20488192  07-Jun-2024 13:33:30   607.80  145.00
97  TATACONSUM  1134.45    864210  07-Jun-2024 13:33:29  1269.00  791.50
98    UNITDSPR  1298.80    677179  07-Jun-2024 13:33:29  1320.00  866.20
99  ADANIGREEN  1852.75   1021859  07-Jun-2024 13:33:30  2174.10  815.55
             0        1         2                     3        4       5
95  JINDALSTEL  1025.00   1365642  07-Jun-2024 13:33:59  1085.95  520.50
96      RECLTD   487.80  20495484  07-Jun-2024 13:34:00   607.80  145.00
97  TATACONSUM  1134.15    865493  07-Jun-2024 13:33:59  1269.00  791.50
98    UNITDSPR  1298.65    677771  07-Jun-2024 13:34:00  1320.00  866.20
99  ADANIGREEN  1852.50   1022483  07-Jun-2024 13:33:59  2174.10  815.55
             0        1         2                     3        4       5
95  JINDALSTEL  1025.20   1370678  07-Jun-2024 13:35:29  1085.95  520.50
96  TATACONSUM  1134.60    866230  07-Jun-2024 13:35:29  1269.00  791.50
97      RECLTD   487.80  20529644  07-Jun-2024 13:35:30   607.80  145.00
98    UNITDSPR  1298.95    683607  07-Jun-2024 13:35:29  1320.00  866.20
99  ADANIGREEN  1851.10   1025723  07-Jun-2024 13:35:30  2174.10  815.55